@use "./variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,800;1,400;1,800&family=Passion+One:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;

}

p,
a,
li,
span,
input,
select {
    font-family: $secondary-font;
    font-size: 1rem;
}

a:hover {

    color: $primary-color;

}