@use '../variables' as *;
@use '../mixins' as *;
@use '../typography' as *;

.carousel {
    display: none;
    @include flex-col;
    width: 100%;

    &-container {
        display: none;
    }

    @media (min-width: 760px) {}

    @media (min-width: 960px) {
        width: 100%;

        &-container {
            @include flex-row;
            width: 100%;
            max-width: 1000px;
            height: 550px;
            margin: 40px auto;
            justify-content: center;
            align-items: stretch;
            gap: 1.25rem;
            transition: all 400ms ease;
            padding-bottom: 20px;
        }


        &-movie {
            // @include flex-row;
            flex: 1;
            height: 100%;
            transition: all 400ms ease;
            cursor: pointer;

            >img {
                display: block;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }


        }

        .carousel-movie:nth-child(odd) {
            translate: 0 -20px;
        }

        .carousel-movie:nth-child(even) {
            translate: 0 20px;
        }

        .carousel-movie:hover {
            flex: 3.25;
        }

        .carousel-container:hover .carousel-movie:not(:hover) {
            filter: grayscale(100%);
        }

    }
}