@use '../variables' as *;
@use '../mixins' as *;
@use '../typography' as *;

.home {
    @include flex-col;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &-movies {
        @include flex-col;
        width: 100%;
        padding: 20px;
        gap: 2vh;
    }

    &-heading {
        @include flex-col;
        // margin: 40px auto;
        height: 300px;
        justify-content: center;
        padding: 20px;

        h1 {
            text-shadow: 1px 1px 2px $secondary-color;
            margin: 0;
            color: $primary-color;
            font-size: 4.3rem;
        }

        h2 {
            font-family: $secondary-font;
            font-weight: 300;
            margin: 0;
            color: $secondary-color;
            font-size: 1.2rem;
        }
    }

    &-search-filter {
        @include flex-row;
        // margin: 20px auto;
        justify-content: space-around;

    }

    &-movie-container {
        @include flex-row;
        // margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2vh;
        height: 300px;
        padding: 10px;
        border: 1px solid $primary-color;

        h3 {
            font-size: 1.8rem;
            color: #fff;
            margin: 0;
            text-align: left;
            line-height: 2.2rem;
            ;
        }

        p {
            font-size: 0.8rem;
            padding: 0;
            margin: 0;
            line-height: 1.2rem;
            text-align: left;
            ;
        }

        img {
            width: 175px;
        }
    }

    &-movie-info {
        a {
            text-decoration: none;
            color: #fff;

            button {
                @include flex-row;
                justify-content: flex-start;
                margin-top: 10px;
                // padding: 10px;
                border-radius: 10px;
                border: 1px solid #fff;
                background: none;
                color: #fff;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.6s ease;
            }
        }


    }

    &-button-group {
        @include flex-row;
        gap: 1vh;

        button {
            margin-top: 10px;
            border-radius: 10px;
            border: 1px solid #fff;
            background: none;
            color: #fff;
        }
    }

    @media (min-width: 760px) {}

    @media (min-width: 960px) {
        @include flex-col;
        flex-wrap: wrap;
        width: 100%;

        ul {
            @include flex-row;
            flex-wrap: wrap;
            list-style: none;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 2vh;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2vh;
        }

        &-heading {
            height: 600px;
            justify-content: center;

            h1 {
                font-size: 5rem;

            }

            h2 {
                font-size: 1.5rem;
                font-family: $secondary-font;
                margin: 0;
            }
        }


        &-search-filter {
            @include flex-row;
            // gap: 2vh;
            width: 87%;
            margin: 0 auto;
            justify-content: center;
            padding: 10px;
        }

        &-movies {
            @include flex-row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            // padding: 20px;
            // gap: 2vh;
        }

        &-movie-container {
            @include flex-row;
            // margin: 0 auto;
            align-items: center;
            justify-content: center;
            width: 450px;
            padding: 10px;
            gap: 2vh;
            height: 320px;
            border: 1px solid #fff;

            h2 {
                margin: 0;
            }

            img {
                width: 200px;
            }
        }

        &-movie-info {
            display: flex;
            flex-direction: column;
            text-align: left;

            h3 {
                font-size: 1.4rem;
                margin: 0;
                padding: 0;
                line-height: 1.7rem;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 0.8rem;
            }

            button {
                margin-top: 10px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid #fff;
                background: none;
                color: #fff;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.6s ease;
            }

            button:hover {
                background: #fff;
                color: #F7465B;
                border: 1px solid #fff;
            }
        }
    }
}